<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCODgiXk-Kl-oG99Arau-o7g6ggjLsoeUw</string>
	<key>GCM_SENDER_ID</key>
	<string>594761248144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uctApp</string>
	<key>PROJECT_ID</key>
	<string>uct-app-836a5</string>
	<key>STORAGE_BUCKET</key>
	<string>uct-app-836a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594761248144:ios:f6ac8f127b89c61ebfd715</string>
</dict>
</plist>